<div class="wrapper">

	<menu></menu>

	<div class="box normal rounded full preview">
		<form class="form">
			<table>
				<tbody>
					<tr class="element">
						<td><label>Module Name</label></td>
						<td class="input"><input type="text"></td>
					</tr>
					<tr class="element">
						<td><label>Data Page</label></td>
						<td class="input"><input type="text"></td>
					</tr>
					<tr class="element">
						<td>
							<p>
								<label>Menus:</label> <input id="tags_1" type="text"
									class="tags" value="foo,bar,baz,roffle" />
							</p>
						</td>
					</tr>
					<tr class="element">
						<td><label>Data Type</label></td>
						<td class="input"><input type="text"></td>
					</tr>
				</tbody>
			</table>
			<div class="element">
				<div class="clearfix"></div>
				<input type="submit" id="submit" value="Submit">
				<div class="loading"></div>
			</div>
		</form>
	</div>
</div>

